body{       margin:0 auto; 
            
}
h1{font-family: 'Montserrat', sans-serif;
    color: #F0F0F0;
    margin: 0;
}

/* Nav */

div#nav{    float: left;    
            width: 100%;
            background:  #707a8a;
            margin: 0;
            padding: 0;
}
div#navlogo{   float: left;
            width: 25%;
            margin-left: 30px;
            margin-top: 8px;
            margin-bottom: 6px;
}
div#navlogo img{    height: 40px;
}
div#linktext{   float: right;
                margin-right: 60px;
}
.montserrat{    font-family: 'Montserrat', sans-serif;
                color: #F0F0F0;
                transform: scale(1, .8);
                font-size: 75%;

}
div#nav li{ list-style-type: none;
            display: inline;
            padding-left: 15px;
}
div#nav a{  color: white;       
            text-decoration:none;
}

/*Main*/

#main{  background: white;
        margin: 0;
}

div#mainlogo{width: 100%;}

div#mainlogo img{   display: block;
                    margin-left: auto;
                    margin-right: auto;
                    height: 150px;
}

div#heroimage{width: 100%}

div#heroimage img{  display: block;
                    margin-left: auto;
                    margin-right: auto;
                    height: 660px;

}
.centeredtext{  position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);   
                font-family: 'Montserrat', sans-serif;
                color: #F0F0F0;
                font-size: 200%;
                text-shadow: 2px 2px 2px grey;
}
div#subherotext{width: 100%;
                margin-top: 50px;
}

div#subherotext p{  text-align: center;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    color: #5C5B5B;
                    font-size: 150%;

}

div#greyboxes{  width: 100%;
                margin: 0;
                background: white;
                
}

div.greybox{    width:350px;
                height: 320px;
                background-color: #9CA3AA;
                margin: 33px;
                padding: 0;
                border-radius: 5px;
                box-shadow: 5px 5px 5px #d2d2d2;
                float: left;
}

div.greybox img{    height: 90px;
                    margin-left: 130px;
                    margin-top: 40px;                   
}
.boxheadertext{ font-family: 'Montserrat', sans-serif;
                color: #F0F0F0;
                font-size: 110%;
                text-align: center;
                text-shadow: 2px 2px 2px #5c5b5b;
}

.boxparagraphtext{  font-family: 'Montserrat', sans-serif;
                    color: #F0F0F0;
                    font-size: 80%;
                    text-align: center;
                    margin-left: 50px;
                    margin-right: 50px;
                    margin-top: 20px;
}

div.pluscontainer{  float: left;
                    width: 100%;
                    margin-bottom: 50px;
                    background: white;
}

div#plusbutton{ margin: auto;
                height: 50px;
                width: 250px;
                background: #707a8a;
                margin-top: 30px;
                border-radius: 8px;
                box-shadow: 2px 2px 2px #bcc0c7;
}

div#plusbutton p{   font-family: 'Montserrat', sans-serif;
                    color: #F0F0F0;
                    font-size: 100%;
                    font-weight: bold;
                    text-align: center;
                    margin-left: 20px;
                    margin-right: 20px;
                    padding-top: 15px;
                    
                    
}

div#subplus{margin: auto;}

div#subplus p{font-family: 'Montserrat', sans-serif;
    color: #5C5B5B;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

div#opensign{   margin: auto;
                width: 100%;
}

div#signimage{  float: left;
                margin-left: 100px;
                height: 80px;
                width: 80px;
}

div#signimage img{  max-width: 100%; 
                    height: 100%; 
                    object-fit: cover;
}
div#signtext{   float: left;  
                margin-left: 30px;
                margin-top: 30px;  
}
div#signtext p{ font-family: 'Montserrat', sans-serif;
                color: #5C5B5B;
                font-size: 100%;
                font-weight: bold;
}

div#fourboxes{      float: left;
                    width: 100%;    
}

div#topleftbox{     float: left;
                    width:50%;
                    margin-top: 20px;
}

div#toprightbox{    float: right;
                    width: 50%;
                    margin-top: 20px;
}

div#bottomleftbox{  float: left;
                    width: 50%;
                    margin-top: 20px;
}

div#bottomrightbox{ float: right;
                    width: 50%;                    
                    margin-top: 20px;
}

div#fourboxes p{font-family: 'Montserrat', sans-serif;
                color: #5C5B5B;
                font-size: 100%;
                text-align: center;
}
div#fourboxes p span{font-weight: bold;}

div#closingtext{width: 100%;
                float: left; 
                margin-bottom: 50px;
}

div#closingtext p{  margin-top: 50px;
                    font-family: 'Montserrat', sans-serif;
                    color: #5C5B5B;
                    font-size: 100%;
                    text-align: center;
}

div#closingtext p span{ font-size: 130%;}

/*Contact Page*/

section#contactmessage h2{  margin-top: 30px;
                            font-family: 'Montserrat', sans-serif;
                            color: #5C5B5B;
                            font-size: 150%;
                            text-align: center;
                            font-weight: lighter;
}

section#contactdetails{ margin-left: 300px;
                        margin-top: 50px;
}

section#contactdetails h2{  font-family: 'Montserrat', sans-serif;
                            color: #5C5B5B;
                            font-size: 100%;
                            text-align: left;
                            font-weight: bold;

}

section#contactdetails p{   font-family: 'Montserrat', sans-serif;
                            color: #5C5B5B;
                            font-size: 100%;
                            text-align: left;
                            font-weight: lighter;
}

section#contactdetails img{padding-top: 50px;
                            padding-bottom: 50px;
}

section#contactform{width: 100%;}

section#contactform div{margin: auto;
                        width: 600px;

}

section#contactform h2{ text-align: center;
                        margin-top: 30px;
                        font-family: 'Montserrat', sans-serif;
                        color: #5C5B5B;
                        font-size: 150%;
                        text-align: center;
                        font-weight: lighter;

} 
form#form label{font-family: 'Montserrat', sans-serif;
                color: #5C5B5B;
                font-size: 75%;
                font-weight: lighter;
                margin-bottom: 10px;
}

textarea#message{   border: 0;
                    background-color: #C5CACF;
                    width: 600px;
                    margin-top: 10px;
                    color: white;
                    text-align: left;
    
}

form#form input{border: 0;
                background-color: #C5CACF;
                width: 600px;
                height: 30px;
                margin-top: 10px;
}


form#form button{   width: 180px;
                    height: 45px;
                    background-color: #6A7B8B;
                    color: white;
                    border-style: none;
                    border-radius: 2px;
                    box-shadow: 2px 2px 2px #5C5B5B;
                    display: block;
                    margin: auto;
                    margin-top: 30px;
                    margin-bottom: 75px;
}
/*            <div class="popup">
        <img src="Assets/logo_dark.png">
        <h2>MERCI</h2>
        <p>Votre message a bien été envoyé !</p>
        <p>Nous essaierons d’y répondre au mieux dans les plus brefs<br>
            délais. À bientot chez Mr.Coffee
        </p>
        <button id="popupdismissbutton">FERMER</button>
    </div>
*/
div.popup{  visibility: hidden;
            width: 1000px;
            border: 1px 5C5B5B;
            border-style:solid;
            z-index: 100;
            display: inline-block;
            position: absolute;
            background-color: white;
            text-align: center;
            margin: 400px auto auto auto;
}

div.popup img{  height: 100px;
                float: left;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

/*footer*/


#footer{    float: left;    
            width: 100%;
            background:  #707a8a;
            margin: 0;
}
div#footerlogo{     float: left;
                    width: 25%;
                    margin-left: 40px;
                    margin-top: 24px;
                    margin-bottom: 18px;
}
div#footericons{ width:100%;

}
div#footerlogo img{height: 60px;}
div#footericons img{height: 20px;}
div#footertext{margin-top: 30px;
                padding: 0;
}
div#footertext p{   width: 400px;
                    margin: auto;
                    padding-left: 140px;
}

div#footer ul{  width: 150px;
                margin: auto;
                padding: 0;
}
div#footer li{  display: inline-block;
                list-style-type: none;
                padding-left: 15px;
}
div#footer a{   color: white;       
                text-decoration:none;
}

/*
Colours

grey: #707a8a
light-gray: #bcc0c7
dark-grey: #5c5b5b
background color: #f5f5f5
*/